<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container      ">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h1>Sobre mim</h1>
            <p>Olá, sou Marcos Vieira, estudante de front-end</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>


</html>